.directions-wrap {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $primary-color;
  text-align: center;

  .address {
    display: inline-block;
    padding: 0 30px;
    color: $white;
    text-align: right;
  }

  .button {
    display: inline-block;
    color: $primary-color;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $secondary-dark-color;

      svg path {
        fill: $white;
      }
    }
    
    svg {
      display: inline;
      width: 12px;
      height: auto;
      margin-right: 10px;

      path {
        fill: $primary-color;
      }
    }
  }
}
