.events-wrap {
  text-align: center;
}

.events {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;

  @include media-query( $tablet ) {
    width: 800px;
  }

  @include media-query( $desktop ) {
    width: auto;
  }

  .events-heading {
    margin-bottom: 20px;
    font-size: 2.2em;
  }

  .event {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 30px;
    margin: 0 auto 30px;

    border-left: 5px solid $primary-color;
    text-align: left;
    vertical-align: top;
    


    &:last-child {
      margin-bottom: 0;
    }

    @include media-query( $tablet ) {
      width: 50%;
      margin-bottom: 30px;
    }

    @include media-query( $desktop ) {
      width: 33%;
    }

    .day {
      color: $secondary-color;
      font-size: 1.5em;
      line-height: 1.5;
      text-transform: capitalize;
    }

    .hour,
    .minutes {
      font-size: 2em;
    }

    .time-divider,
    .ampm {
      font-size: 1.5em;
      text-transform: lowercase;
    }

    .date {
      position: absolute;
      top: 30px;
      right: 30px;
    }

    .day-of-month {
      color: $primary-color;
      font-size: 1.5em;
    }

    .month {
      color: $primary-color;
      font-size: 1em;
    }

    .event-heading {
      display: block;
      margin-top: 30px;
      margin-bottom: 10px;
      color: $secondary-color;
      font-style: italic;
      line-height: 1.5;
    }

    a {
      text-decoration: underline;
    }
  }
}
