html,
body {
  color: $text-color;
  font-family: $base-font;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  color: $text-color;
  font-family: $heading-font;
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $emphasis-color;
    text-decoration: underline;
  }
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}
