$content-width: 1170px;

$desktop: 1024px;
$tablet: 640px;


$primary-color: #1d29a3;
$secondary-color: #4e7ada;
$white: #fff;
$black: #333;

$text-color: $black;
$emphasis-color: $secondary-color;
$bg-color: $white;
$base-font: 'Poppins', sans-serif;
$heading-font: $base-font;
