$content-width: 1170px;

$large-desktop: 1401px;
$desktop: 1025px;
$tablet: 641px;


$primary-color: #75381c; // for white text
$primary-light-color: #a86344; // for white text
$primary-dark-color: #460e00; // for white text
$secondary-color: #e75d24;
$secondary-light-color: #ff8e52;
$secondary-dark-color: #ae2b00;  // for white text
$white: #fff;
$black: #222;

$text-color: $black;
$emphasis-color: $secondary-color;
$bg-color: $white;
$base-font: 'Poppins', sans-serif;
$heading-font: $base-font;

$transition-duration: 250ms;
