header {
  position: fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid $primary-color;
  background-color: $bg-color;

  &:after {
    position: absolute;
    z-index: -1;
    bottom: 1px;
    width: 100%;
    box-shadow: 0 4px 5px 0.22px $black;
    content: '';
  }

  .wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  h1,
  .logo-span {
    display: inline-block;
    max-width: 80px;
    margin-left: -7px;
    font-size: 0.8em;
    text-align: right;
    vertical-align: middle;
    
    strong {
      display: block;
      margin-right: -10px;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .logo path {
    fill: $primary-color;
  }
}
