header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: $bg-color;

  h1,
  .logo-span {
    display: inline-block;
    max-width: 80px;
    margin-left: -7px;
    font-size: 0.8em;
    text-align: right;
    vertical-align: middle;
    
    strong {
      display: inline-block;
      margin-right: -10px;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .logo path {
    fill: $primary-color;
  }
}
