.home {
  
  header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: all 0.25s ease-in;

    h1 {
      color: $white;
      transition: all 0.25s ease-in;
    }

    .logo path {
      fill: $white;
      transition: all 0.25s ease-in;
    }

    &.scroll {
      border-bottom: 1px solid $primary-color;
      background-color: $bg-color;

      h1 {
        color: $primary-color;
      }

      .logo path {
        fill: $primary-color;
      }
    }

    
  }

  header .logo path {
    fill: $white;
  }

  .site-content {
    padding-top: 0;
  }

  .banner {
    width: 100%;
    height: 300px;

    margin-bottom: 20px;

    background-color: $black;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;

    @include media-query( $tablet ) {
      height: 400px;
      background-position: center center;
    }

    @include media-query( $desktop ) {
      height: 650px;
      background-attachment: fixed;
      background-position: center center;
    }
  }

  .banner .cta {
    max-height: 100%;
    padding: 106px 0;
    background-color: rgba(0, 0, 0, 0.5);

    @include media-query( $tablet ) {
      padding: 142px 0;
    }

    @include media-query( $desktop ) {
      padding: 269px 0;
    }
  }

  .banner h2 {
    margin-bottom: 20px;
    color: $white;
    @include media-query( $tablet ) {
      margin-bottom: 30px;
      font-size: 2.25em;
    }
  }

  .site-content ul {
    padding: 10px 0;
    @include media-query( $tablet ) {
      padding: 10px 0;
    }
    @include media-query( $desktop ) {
      padding: 20px 0;
    }
  }

  .site-content li {
    
    padding-bottom: 10px;
    
  }

  .site-content p {
    @include media-query( $tablet ) {
      padding: 0 50px;
    }

    @include media-query( $desktop ) {
      padding: 0 80px;
    }
  }

  .service-times {
    text-align: center;

    @include media-query( $tablet ) {
      text-align: left;
    }

    .service-times-heading {
      margin-bottom: 20px;
    }

    .service-time {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 400px;
      height: 200px;
      padding: 30px;
      margin: 10px auto;
      border-left: 10px solid $primary-color;
      text-align: left;

      @include media-query( $tablet ) {
        width: 50%;
        margin: 30px 0;
      }

      @include media-query( $desktop ) {
        width: 33%;
      }

      .day {
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .hour,
      .minutes {
        font-size: 2em;
      }

      .time-divider,
      .ampm {
        font-size: 1.5em;
        text-transform: lowercase;
      }

      .date {
        position: absolute;
        top: 30px;
        right: 30px;
      }

      .day-of-month {
        color: $primary-color;
        font-size: 1.5em;
      }

      .month {
        color: $primary-color;
        font-size: 1em;
      }

      .description {
        position: absolute;
        right: 30px;
        bottom: 30px;
        max-width: 180px;
        font-style: italic;
        text-align: right;

        @include media-query( $tablet ) {
          max-width: 250px;
        }
      }
    }
  }
}
